.gridStyle {
    justify-content: space-between !important;
    align-items: center !important;
}

.colorNavbar {
    background-color: #0C0B33 !important;
}

.secularOne {
    font-family: 'Secular One', sans-serif !important;
}

